/Backtracking.hi
/Backtracking.o
/ForwardChecking_MRV.hi
/ForwardChecking_MRV.o
/Mac.hi
/Mac.o
/main-ghci.exe
/main-ghci.hi
/main-ghci.o
/main.hi
/main.o
/mainT.hs
/New Text Document.txt
/sudoku-solver.exe
/sudoku2.txt
/sudoku3.txt
/SudokuState.hi
/SudokuState.o
/SudokuTechniques.hi
/SudokuTechniques.o
/sudoku_solution.txt
/Variable.hi
/Variable.o